mixin profit
    section.container.move-block
        .title Наши преимущества
        .profit
            .profit-card.move-left
                .profit-card__col
                    img(src="img/card-img1.png" alt="profit")
                
                .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
                    
                
            
            .profit-card.move-left
                .profit-card__col
                    img(src="img/card-img2.png" alt="profit")
                
                .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
                    
                
            
            .profit-card.move-right
                .profit-card__col
                    img(src="img/card-img3.png" alt="profit")
            
                .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
                
            
        
            .profit-card.move-left
                .profit-card__col
                    img(src="img/card-img4.png" alt="profit" )
            
                .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
                
            
        
            .profit-card.move-right
                .profit-card__col
                    img(src="img/card-img5.png" alt="profit")
            
            .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную   волокиту, связанную с растаможкой груза
                
            
        
            .profit-card.move-right
                .profit-card__col
                    img(src="img/card-img6.png" alt="profit")
            
            .profit-card__col
                    .title-sm Растоможка груза
                    .subtitle Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза

                
            
        
    