mixin quality
    section container quality
        .title Гарантии качества
        .subtitle Наши гарантии качества включают в себя полный спектр документов, необходимых для ввоза и вывоза товаров, а также для успешного бизнеса на мировом рынке. Мы предоставляем вам надёжность и уверенность
        
        .quality-cards
            .quality-card
                img(src="img/garant1.png" alt="garant")
                .subtitle-sm Свидетельство о регистрации в РФ
                
            
            .quality-card
                img(src="img/garant2.png" alt="garant")
                .subtitle-sm Свидетельство о регистрации в США
                
            
            .quality-card
                img(src="img/garant3.png" alt="garant")
                .subtitle-sm Свидетельство о регистрации в Китае
                
            
            .quality-card
                img(src="img/garant4.png" alt="garant")
                .subtitle-sm Свидетельство о регистрации в РФ
                
            
        
        button.btn.btn-secondary Показать больше документов
            